.description{ /*use of class*/
        background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}
img{ /*use of tag*/
    
    max-width: 100%;

}
#founder-messege{ /*use of ID*/
        font-style: italic;
}

.footer{ 
    background-color: grey;
    text-align: center;
    word-spacing: revert
}

.footer span{ /*use of selector*/
    font-weight: bold
}